[Unit]
Description=Wattrouter MQTT Bridge
After=network.target

[Service]
WorkingDirectory=/opt/wattrouter
ExecStart=/usr/bin/python3 /opt/wattrouter/wattrouter.py -c /etc/wattrouter.cfg -l /var/log/wattrouter.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
