[Unit]
Description=Wattrouter Bridge to MQTT
After=network.target

[Service]
WorkingDirectory=/opt/wattrouter
ExecStart=/usr/bin/node ./dist/app.js -c /etc/wattrouter.cfg -l /var/log/wattrouter.log -v info
Environment=NODE_ENV=production
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
